values-ar
values-be
values-ca
values-cs
values-de
values-eo
values-es/strings.xml
values-fa
values-fi
values-fr
values-he
values-hr
values-hu
values-it
values-iw
values-kk
values-ml
values-ms
values-nb
values-pl/strings.xml
values-pt-rBR/strings.xml
values-ro
values-ru/strings.xml
values-sk
values-sr
values-sv
values-ta
values-tr/strings.xml
values-uk/strings.xml
